# Notes:
- Мой текущий компьютер - это ноутбук MacBook M4 Pro на базе Apple Silicon.
- Я буду деплоить проект на сервер с Ubuntu
- Обязательно использовать принципы ООП при реализации задачи!
- Соблюдай принципы SOLID
- Соблюдай принципы GRASP
- Всегда декомпозируй классы там, где можешь
- Обязательно используй интерфейсы, чтобы код был модульным и я мог заменять, например, реализацию модуля на другую, соответствующую интерфейсу модуля.
- Тип разработки - восходящий: **это значит, что мы проектируем систему снизу!** - То есть сейчас мы просто делаем отдельные модули и их реализации, а затем в одном оркестрирующем классе все реализации будут подставлены на место интерфейсов и все хорошо заработает.
- Когда реализуешь код, обязательно уточняй текущую структуру папок
- Не забывай: **НЕ БОЛЕЕ ОДНОГО КЛАССА НА ФАЙЛ .py**
- Весь код должен КОРРЕКТНО работать с файловыми вложениями в структуре папок. Дело в том, что я в будущем буду деплоить этот проект из своего локального ноутбука на сервер с Ubuntu, и для этого, если ты обращаешься к коду, который в файле из другой папки, нужно указывать правильный путь.
- Я ПОВТОРЮ: ДЕКОМПОЗИРУЙ КОД! Мы не просто пишем одноразовый скрипт! Мы создаем приложение на века! А для этого нужна качественная модульность кода и хорошая его декомпозиция!

# Important Note:
- Мой текущий компьютер использует Mac OS. Это значит, что команды в консоли нужно использовать именно те, которые используются для Mac OS.
- Я ПОВТОРЮ: **Если используешь команды в консоли, учитывай, что у меня Mac OS!**

# Rules:

Импорты в начале каждого файла должны быть написаны так, чтобы они не начинались с точки. Если использовать относительные импорты, то ломается запуск кода на сервере. Примеры корректных импортов ты можешь посмотреть в других файлах.
Если речь идет о работе с Structured Output, то для работы со structured output необходимо использовать response_format среди параметров при обращении к модели ИИ.
Вот пример из официальной документации:
```
class Step(BaseModel):
    explanation: str
    output: str

class MathResponse(BaseModel):
    steps: list[Step]
    final_answer: str

client = OpenAI()
completion = client.beta.chat.completions.parse(
    model="gpt-4o-mini",
    messages=[
        {"role": "system", "content": "You are a helpful math tutor."},
        {"role": "user", "content": "solve 8x + 31 = 2"},
    ],
    response_format=MathResponse,
)
```
**Этот пример взят из официальной документации.**

НИКОГДА Не используй function_schema, если реализуешь работу с Structured Output.

У меня есть таблица в базе данных PostgreSQL.

db_name = "app"
user = "postgres"
password = "" # it is secret
table_name = "call_analysis_results" # Это таблица с аналитикой звонков для всех компаний
host="localhost"
port="5432"
